.main-chat
  .chat-main__group-info
    .chat-main__group-one
      テスト
    .chat-main__group-two
      Member : aaa
    .chat-main__group-three
      = link_to "#", class: "contents_btn" do
        Edit
  .main-chat__second
    .main-chat__second-one
      aaa
    .main-chat__second-two
      2020/1/16(Thur)7:30:00
    .main-chat__second-three
      おはよう！
  .chat-main__message-info
    .chat-main__message-type
      type a message
      .chat-main__message-pic
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "aaa"}
    .chat-main__message-send
      = link_to "#", class: "contents_btn" do
        Send