.side-bar
  .side-bar__user-name
    .side-bar__user-name__logo
      aaa
    .side-bar__user-name__custam
      = link_to "#", class: "contents_btn" do
        = icon("fa", "fas fa-cog")
      = link_to "#", class: "contents_btn" do
        = icon("fa", "fas fa-edit")
  .side-bar__second
    .side-bar__second-mi
      techcamp
    .side-bar__second-ni
      まだメッセージがありません
    .side-bar__group
      テスト
    .side-bar__group-second
      まだメッセージがありません

